html {
    margin: 0 auto;
    height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


textarea {
    resize: vertical;
}

.header{
    background: transparent linear-gradient(#292929, #252525) repeat scroll 0% 0%;
    margin: 0 auto; left:0px; right:0px;
    padding: 0;
    height: 52px;
    text-align: center;
    position: fixed;
    z-index: 500;

}
