
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
}


h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

ul#menu {
    padding: 0;
    display: inline-block;
    vertical-align:middle;
}

ul#menu li {
    display: inline;
    margin-right: 3px;

}

ul#menu li a {
    text-decoration: none;
    color: #696969;
    /*border-radius: 4px 4px 0 0; */
    /* by default the top navbar heigth is 50 px */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100px;
    display: inline-block;
    vertical-align:middle;
    float: left;
    text-align: center;
}

ul#menu li a:hover {
    color: #696969;
    background-color: #f1f1f1;
}

/* Timeslider only visible for mobile devices */
@media (min-width:768px) {
    #timeslider {
        display: none;
    }
}

@media (max-width:768px) {
    #datepicker {
        display: none;
    }
}

.ui-datepicker-calendar {
    display: none;
}

/* The dropdown menu will automatically open when on hover */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
}

#loader{
   position:absolute; 
   top: 50%;
   left: 50%;
}

#generic{
    position: relative;
}

table th {
    cursor: pointer;
}



/* PULSE Page */
.donut-text{
    position: absolute;
    top: 35%;
    left: 30%;
    right: 70%;
    width: 150px;
    font-size: 1.2em;
    text-align: center;

}

.percentage{
    font-weight:bold;
    font-size: 1.5em;
}

.header-legend{
    text-decoration: underline;
    font-weight:bold;
}