
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}


h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

ul#menu {
    padding: 0;
    display: inline-block;
    vertical-align:middle;
}

ul#menu li {
    display: inline;
    margin-right: 3px;

}

ul#menu li a {
    text-decoration: none;
    color: #696969;
    /*border-radius: 4px 4px 0 0; */
    /* by default the top navbar heigth is 50 px */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100px;
    display: inline-block;
    vertical-align:middle;
    float: left;
    text-align: center;
}

ul#menu li a:hover {
    color: #696969;
    background-color: #f1f1f1;
}
.content-wrapper{
    padding-top: 70px;
}

.ui-datepicker-calendar {
    display: none;
    }
