body{
    margin: 0 auto;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#filterBox{
    padding-top: 15px;
}

#filterBox > fieldset{
    border: none;
}

#filterButtons{
    text-align: center;
}

#filterApply, #filterReset{
    margin: 0 auto;
}


#chart{
    margin: 0 auto;
    height: 330px;
}

