html{
    margin: 0 auto;
    height: 100%;
    font-size: 1em;
    line-height: 1.4;

}

body{
    margin: 0 auto;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.header{
    background: transparent linear-gradient(#292929, #252525) repeat scroll 0% 0%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    padding: 0;
    text-align: center;
    position: fixed;
    z-index: 500;
}

.headerMenu{
    display: inline-block;
    cursor: default;
    z-index: 500;
    border-collapse: collapse;
    margin: 0 auto; 
    width: 30%;
    left:0px; 
    right:0px;
}

.headerMenu li{
    list-style: none;
    background: #504949;
    background: linear-gradient(#292929, #252525);
    min-width: 160px;
    text-align: center;
    display: block;
    float: left;
}

.headerMenu > li > a{
    position: relative;
    display: block;
    z-index: 510;
    height: 52px;
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 54px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fcfcfc;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
    background: transparent linear-gradient(#292929, #252525) repeat scroll 0% 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.headerMenu a{
    text-decoration: none;
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #808080;
    display: block;
    font-family: 'Lucida Console';
    font-size: 18px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
}

.headerMenu > li:hover > a {
    background: #4b4441;
}

.content-wrapper{
    text-align: center;
}

#filterBox{
    position: fixed;
    float: left;
    margin-top: 5%;
    width: 20%;
}

#filterBox > fieldset{
    border: none;
}

#filterButtons{
    text-align: center;
}

#filterApply, #filterReset{
    margin: 0 auto;
}


#charts{
    width: 30%;
    margin: 0 auto;
    padding-top: 10%;
}

